.venv/
.venv39/

.idea/

__pycache__/

batch_errors/**
batch_outputs/**
batch_jobs/**

dxchange/

old_versions/

saved_models/
figures/**
results/**
options/

LAM_3d/saved_image_cubes/**
LAM_3d/saved_models/**
LAM_3d/Results/**
LAM_3d/Figures/**

**/*.h5
*.h5

*.log

logs/2022_QIM_52_Bone/**
logs/Synthetic_2022_QIM_52_Bone/**
logs/HCP_1200/**
logs/IXI/**
logs/BRATS2023/**
logs/KIRBY21/**
logs/CTSpine1K/**
logs/LITS/**
logs/LIDC_IDRI/**
logs/VoDaSuRe/**
!*.gitkeep