.venv/
.venv39/

.idea/
.ipynb_checkpoints/

__pycache__/

batch_errors/**
batch_outputs/**
batch_jobs/**

dxchange/

old_versions/
node_modules/
*.json

saved_models/
figures/**
results/**
tests/**

# Files to ignore
loss_functions/loss_functions.py
models/convnext.py
models/convnext3d.py
models/ConvNeXtSR.py
models/ConvNeXtSR_old.py
models/ConvNeXtSR_Res.py
models/DegradeNet.py
models/DRCT_arch.py
models/DTVNet_arch.py
models/FlashAttentionTest.py
models/MTVNet_arch_flashattn.py
models/MTVNeXt_arch.py
models/MTVNeXt_arch_crop_merge.py
models/MTVNeXt_arch_no_cross.py
models/xcit.py
models/xcit3D.py

saved_image_cubes/**
LAM_3d/saved_image_cubes/**
LAM_3d/saved_models/**
LAM_3d/Results/**
LAM_3d/Figures/**
LAM_3d/*.sh

figures/plots/**

**/*.h5
*.h5
*.png
*.pdf

*.log
*.wandb
*.ipynb
*.ini

logs/2022_QIM_52_Bone/**
logs/Synthetic_2022_QIM_52_Bone/**
logs/HCP_1200/**
logs/HCP_1200_new/**
logs/IXI/**
logs/BRATS2023/**
logs/KIRBY21/**
logs/CTSpine1K/**
logs/LITS/**
logs/LIDC_IDRI/**
logs/VoDaSuRe/**
logs/VoDaSuRe_OME/**
logs/Binning_Brain/**
logs/Binning_Bone/**
logs/FEMur/**
logs/LUND/**
!*.gitkeep

