--find-links https://download.pytorch.org/whl/torch
torch==2.5.1+cu124
torchvision
torchaudio
zarr
ome-zarr
cupy-cuda12x
structure-tensor
monai
matplotlib==3.9.0
torchio
lightning
timm
kornia
opencv-python
wandb
qim3d
hydra-core
invoke
scikit-learn
scikit-image
matplotlib
napari
pipreqs
typer
fastapi
uvicorn
coverage
pytest
ruff
python-multipart
httpx
locust
netron
bentoml
evidently
pandas
h5py
basicsr
einops